/* ======= Custom Styles ======= */
svg path {
    fill: #ffffff;
}
body {
  font-family: 'Poiret One', sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
}
.quote-item .quote {
  font-weight: lighter;
  font-style: italic;
  font-family: 'Amatic SC', sans-serif;
}
.story-article-block .quote-container .quote {
  font-size: 28px;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
}
.pricing-block .number {
  font-size: 46px;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
}
.post-single-block .blog-quote {
  font-family: 'Amatic SC', sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: italic;
}

.page-nav-logo {
	padding-right: 80px;
    height: 36px;
}

.container .menu {
    background-color: rgba(53, 55, 60, 0.8);
}

/* Countdown */
div#countdown {
    padding-top: 70px;
}
div#clock {
    padding-bottom: 20px;
}
#clock div {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin:0 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 60px;
}
#clock span {
    display: block;
    font-size: 52px;
    font-weight: 300;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}
#clock span {
    border-bottom: 1px solid #fff!important;
}

@media (max-width: 768px) {
    div#countdown {
        padding-top: 30px;
    }
    #clock div {
        font-size: 14px;
        margin:0 15px;
    }
    #clock span {
        font-size: 32px;
        padding: 5px 0;
    }
}

@media (max-width: 468px) {
    div#countdown {
        padding-top: 20px;
    }
    #clock div {
        font-size: 11px;
        margin:0 7px;
    }
    #clock span {
        font-size: 22px;
        padding: 5px 0;
    }
}
/*
.page-nav-wrapper {
    background: #62a3a5;
}
.benefits-wrapper {
    background: #62a3a5;
}
.page-nav-wrapper .page-nav li a {
    color: #dcdcdc;
}
.page-nav-wrapper .page-nav li a:hover {
    color: #ffffff;
}
*/
#distribution-section {
    background: #f5f5f5;
}
.figures-wrapper, .faqs-block, .overview-section, .features-section, .benefits-wrapper, .blog-signup-block {
    background: #62a3a5;
    color: #ffffff;
}
.section-title, .section-intro {
    color: #ffffff;
}
.features-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-blocks .feature-title {
    color: #ffffff;
}
.features-section .play-icon {
    position: absolute;
    top: 33%;
    left: 43%;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
.feature-blocks .figure-holder img {
  border: none;
  box-shadow: none;
}

@media (min-width: 768px) {
    .features-section .play-icon {
        /*top: 100px;*/
    }
}

@media (min-width: 992px) {
    .features-section .play-icon {
        /*top: 110px;*/
        /*left: 300px;*/
    }
}

body.sticky-page-nav .overview-section {
    padding-top: 20px;
}

.feature-blocks {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer .social-media li a {
    width: 60px;
    height: 60px;
    padding-top: 15px;
}

.footer .social-media li .fa {
    font-size: 32px;
}

.team-block {
    padding-top: 0px;
    padding-bottom: 0px;
}